<!DOCTYPE html>
<html>
<head>
  <title>DinnerTyme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="nav">
        <ul>
            <li><%= link_to 'Home', root_path %>
            <li><%= link_to 'Kitchens', kitchens_path %>
            <li><%= link_to 'Recipes', recipes_path %>
	        <li><%= link_to 'Ingredients', ingredients_path %>
        </ul>
    </div>
    <div id="content"> <%= yield %> </div>

</body>
</html>

